{{define "content"}}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
<div class="page-breadcrumb">
    <div class="row align-items-center">
        <div class="col-5">
            <h4 class="page-title">Hompe Page</h4>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Home Page</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <!-- Column -->
        <div class="col-lg-12 col-xlg-12 col-md-12">
            <div class="card">
                <div class="card-body">
                    Peta
                    <div id="mapid" style="height: 400px;"></div>
                </div>
            </div>
        </div>
        <!-- Column -->
    </div>

</div>
<script>
    var lat = "-7.6324455";
    var lng = "112.1795625";

	var mymap = L.map('mapid',).setView([lat,lng], 8);
	// var Openstreet = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
	// 	maxZoom: 18,
	// 	attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
	// 		'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
	// 	id: 'mapbox/streets-v11',
	// 	tileSize: 512,
	// 	zoomOffset: -1
	// });

    var Esri_WorldImagery =
     L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
    maxZoom :18,
	attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community',
    id: 'mapbox/streets-v11',
	tileSize: 512,
	zoomOffset: -1
    }).addTo(mymap);

	var popup = L.popup();
	function onMapClick(e) {
        var lat = $("#lat").val(e.latlng.lat);
        var lng = $("#lng").val(e.latlng.lng);
		popup
			.setLatLng(e.latlng)
			.setContent("You clicked the map at " + e.latlng.toString())
			.openOn(mymap);
	}

    var mountainss = {{ .mountains }};
    console.log(mountainss);
    //marker
    for(i=0;i<mountainss.length;i++){
        L.marker([mountainss[i].Lat,mountainss[i].Lng]).addTo(mymap)
		.bindPopup("<b>Hello !</b><br/>Ini "+mountainss[i].Name + "<br/><a href ='/mountains/"+mountainss[i].ID+"/tracks'>Lihat Jalur</a>");
    }

	// mymap.on('click', onMapClick);
    // var data = {{.tracks}};
    // var tracks = Array();
    // console.log(tracks);
    // L.polyline(tracks).addTo(mymap).bindPopup("I am a polygon.");
</script>

{{end}}